html, body {
	margin: 0;
	overflow-x: hidden;
	height: 100%;
}
* {
	box-sizing:border-box;
}

/* Background */
.background_image {
	z-index: -1; /* for opacity only for background image */
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain; /* to extend background image to be entire for all the container size */
	background-image: url("../photos/simplon2.jpg");
	background-repeat: repeat; /* repeat background image as the window size */
	opacity: 0.5;
}
/* !Background */

/* Main Container */
.main_container {
}

/* Header */
@import url('https://fonts.googleapis.com/css?family=Teko:700%27%27');

.header_animation {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: none;
}

.teko-font-family {
  font-family: 'Teko', sans-serif;
}

#textAnimated {
  display: none;
}

#app { /* Text Animation Id */
  font-size: 13vw;
  animation: elastic 1s ease-in-out infinite;
  cursor: default;
}

.text-item {
  @extend .teko-font-family;
  display: inline-flex;
  mix-blend-mode: multiply;

  > div:hover {
	transform: scale(2) !important;
	transition: transform .2s ease-in-out;
  }
}

.red {
  color: #BD0419;
}

.yellow {
  color: #D28910;
}

.green {
  color: #018671;
}

.blue {
  color: #0689BF;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

@keyframes elastic {
  0%, 100% {
	letter-spacing: -1.5rem;
  } 50% {
	  letter-spacing: -0.5rem;
  }
}
/* !Header */

/* Slideshow Container */
.slideshow-container {
	max-width: 700px;
	position: relative;
	margin: auto;
	border: 4px solid rgba(100, 0, 0, 0.7);
	border-radius: 10px;
	overflow: hidden;
	display: 100%;
}
/* Pictures */
.slideshow-items {
	/*width: 600px;*/ /* original width*/
	height: auto;
	padding-bottom: 66%;
	position: relative;
}
/* !Pictures */


.mySlides { /* Hide the images by default */
	/* display: none; */
	opacity: 0;
	position: absolute;
}

	/* Buttons Next, Prev, Play/Pause */
.fas { /* Play/Pause */
	position: absolute;
	color: #f2f2f2;
	text-shadow: 3px 3px 2px #555;
	font-size: 2rem;
	top: 10px;
	right: 10px;
}

.fas:hover {
	cursor: pointer;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

		
.next { /* Position the "next button" to the right */
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover { /* On hover, add a black background color with a little bit see-through */
	background-color: rgba(0,0,0,0.8);
}
	/* !Buttons Next, Prev, Play, Pause */

	/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 50px;
	text-shadow: 3px 3px 4px black;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext { /* Number text (1/xx etc) */
	color: #f2f2f2;
	font-size: 16px;
	text-shadow: 2px 2px 2px black;
	position: absolute;
	top: 3%;
	left: 3%;
}
	/* !Caption Text */

	/* Fading animation */
.mySlides.hide_slide_item {
	/*display: none;*/
	opacity: 0;
	transition: opacity 1500ms;
}

.mySlides.display_slide_item {
	/*display: block;*/
	opacity: 1;
	transition: opacity 1500ms;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
	/* !Fading animation */
/* !Slideshow Container */

/* Footer */
.copyright {
	margin: 0px;
}

.footer_container {
	height: 100px;
}

.facebook_icon {
	width: 60px;
	height: 60px;
}
/* !Footer */
